<p id="notice"><%= notice %></p>

<p>
  <strong>Id enrollment:</strong>
  <%= @enrollments_score.id_enrollment %>
</p>

<p>
  <strong>Id score:</strong>
  <%= @enrollments_score.id_score %>
</p>

<%= link_to 'Edit', edit_enrollments_score_path(@enrollments_score) %> |
<%= link_to 'Back', enrollments_scores_path %>
